animations.css

/* Boshlanish holati */
/* .animate {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  /* Ko‘rinadigan holat */
  /* .in-view {
    opacity: 1;
    transform: translateY(0);
  }
    /* ssdsdds */